substitutions:
  device_name: mspa
  device_password: !secret mspa_password
  device_api_key: !secret mspa_api_key

esphome:
  name: ${device_name}

esp32:
  board: lolin_s2_mini
  variant: esp32s2

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "esp-${device_name}"
    password: "${device_password}"

captive_portal:

# Enable logging
logger:
  level: INFO  # Set to DEBUG if you are having issues!
  #baud_rate: 0 # disable logging over uart

api:
  encryption:
    key: "${device_api_key}"
  reboot_timeout: 0s
   
ota:
  platform: esphome
  password: "${device_password}"

web_server:
  port: 80
  ota: false
  version: 3
  sorting_groups:
    - id: sorting_group_time
      name: "Time Settings"
      sorting_weight: 10
    - id: sorting_group_controls
      name: "Controls"
      sorting_weight: 20
#  auth:
#    username: admin
#    password: "${device_password}"

external_components:
  - source: components
    components: [ mspa_wifi ]

uart:
  - id: uart_box_to_remote
    rx_pin: # green cable to box
      number: GPIO33
      inverted: false
    tx_pin: # green cable to remote
      number: GPIO39
      inverted: false
    baud_rate: 9600
    rx_buffer_size: 512
  - id: uart_remote_to_box
    rx_pin: # black cable to remote
      number: GPIO37
      inverted: false
    tx_pin: # black cable to box
      number: GPIO18
      inverted: false
    baud_rate: 9600
    rx_buffer_size: 512

time:
  - platform: sntp
    id: system_time
    timezone: "Europe/Berlin"
    
globals:
  - id: timer_heater_on_hour
    type: int
    restore_value: yes
    initial_value: '9'
  - id: timer_heater_off_hour
    type: int
    restore_value: yes
    initial_value: '16'

mspa_wifi:
  - id: mspa_wifi_1
    uart_box_to_remote_id: uart_box_to_remote
    uart_remote_to_box_id: uart_remote_to_box

binary_sensor:
  - platform: mspa_wifi
    flow_in:
      name: "Flow In"
    flow_out:
      name: "Flow Out"
      
text_sensor:
  - platform: template
    name: "ESPHome Systemzeit"
    icon: "mdi:clock-time-four-outline"
    update_interval: 1s # Jede Sekunde aktualisieren
    web_server:
      sorting_group_id: sorting_group_time
      sorting_weight: -1
    lambda: |-
      return id(system_time).now().strftime("%H:%M:%S");
      
switch:
  - platform: mspa_wifi
    filter_pump:
      name: "Filter Pumpe"
    uvc:
      name: "UVC"
    #ozone:
      #name: "Ozone"
    heater:
      name: "Heizung"
    bubble:
      name: "Bubble"
  - platform: template
    name: "Timer Heizung aktiv"
    id: timer_active
    icon: "mdi:timer"
    optimistic: true
    web_server:
      sorting_group_id: sorting_group_time
      sorting_weight: 3
    restore_mode: ALWAYS_OFF
  - platform: template
    name: "Logging AUS"
    id: debug_logging_switch
    icon: "mdi:bug-check-outline"
    optimistic: true
    web_server:
      sorting_group_id: sorting_group_time
      sorting_weight: 2
    turn_on_action:
      - logger.set_level: "NONE"
    turn_off_action:
      - logger.set_level: "INFO"

sensor:
  - platform: mspa_wifi
    water_temperature:
      name: "Temperatur IST"
  - platform: mspa_wifi
    target_water_temperature:
      name: "Temperatur SOLL"
      on_value:
      - lambda: |-
          id(target_water_temp).publish_state(x);
  # - platform: mspa_wifi
    # bubble_speed:
      # name: "Bubble Speed"
      # on_value:
      # - lambda: |-
          # id(target_bubble_speed).publish_state(x);
number:
  - platform: template
    name: "Temperatur SOLL"
    id: target_water_temp
    min_value: 20
    max_value: 40
    step: 1
    icon: "mdi:thermometer"
    optimistic: true
    restore_value: false
    set_action:
      - lambda: |-
          ESP_LOGI("number_template", "New value from HA: %f", x);
          id(mspa_wifi_1)->set_target_water_temperature(x);
  # - platform: template
    # name: "Bubble Speed"
    # id: target_bubble_speed
    # min_value: 0
    # max_value: 1
    # step: 1
    # optimistic: false
    # restore_value: false
    # set_action:
      # - lambda: |-
          # ESP_LOGI("bubble speed template", "New value from HA: %f", x);
          # id(mspa_wifi_1)->set_bubble_speed((uint8_t)x);
  - platform: template
    name: "Timer Heizung AN"
    min_value: 0
    max_value: 23
    step: 1
    icon: "mdi:timer"
    optimistic: true
    restore_value: true
    initial_value: 9
    id: heater_on_hour
    web_server:
      sorting_group_id: sorting_group_time
      sorting_weight: 4
    on_value:
      then:
        - lambda: |-
            id(timer_heater_on_hour) = (int)x;       
  - platform: template
    name: "Timer Heizung AUS"
    min_value: 0
    max_value: 23
    step: 1
    icon: "mdi:timer"
    optimistic: true
    restore_value: true
    initial_value: 16
    id: heater_off_hour
    web_server:
      sorting_group_id: sorting_group_time
      sorting_weight: 5
    on_value:
      then:
        - lambda: |-
            id(timer_heater_off_hour) = (int)x;

interval:
  - interval: 60s
    then:
      - lambda: |-
          if (id(timer_active).state) {
            auto t = id(system_time).now();
            if (t.hour == id(timer_heater_on_hour)) {
              id(mspa_wifi_1)->set_switch_command(0x01, 1);
            }
            if (t.hour == id(timer_heater_off_hour)) {
              id(mspa_wifi_1)->set_switch_command(0x01, 0);
            }
          }