substitutions:
  device_name: mspa
  device_password: !secret mspa_password
  device_api_key: !secret mspa_api_key

esphome:
  name: ${device_name}

esp32:
  board: lolin_s2_mini
  variant: esp32s2
  framework:
    type: esp-idf

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "esp-${device_name}"
    password: "${device_password}"

captive_portal:

# Enable logging
logger:
  level: INFO  # Set to DEBUG if you are having issues!
  #baud_rate: 0 # disable logging over uart

api:
  encryption:
    key: "${device_api_key}"

ota:
  platform: esphome
  password: "${device_password}"

web_server:
  port: 80
  ota: false
#  auth:
#    username: admin
#    password: "${device_password}"

external_components:
  - source: components
    components: [ mspa_wifi ]

uart:
  - id: uart_box_to_remote
    rx_pin: # green cable to box
      number: GPIO33
      inverted: false
    tx_pin: # green cable to remote
      number: GPIO39
      inverted: false
    baud_rate: 9600
    rx_buffer_size: 512
  - id: uart_remote_to_box
    rx_pin: # black cable to remote
      number: GPIO37
      inverted: false
    tx_pin: # black cable to box
      number: GPIO18
      inverted: false
    baud_rate: 9600
    rx_buffer_size: 512

mspa_wifi:
  id: mspa_wifi_1
  uart_box_to_remote_id: uart_box_to_remote
  uart_remote_to_box_id: uart_remote_to_box
  uvc_command: 0x15

  # Sensors
  water_temperature:
    name: "Temperature"

  # Binary sensors
  flow_in:
    name: "Flow In"
  flow_out:
    name: "Flow Out"

  # Switches
  filter_pump:
    name: "Filter Pump"
  uvc:
    name: "UVC"
  ozone:
    name: "Ozone"
  heater:
    name: "Heater"

  # Number controls
  target_water_temperature:
    name: "Target Temperature"

  bubble_speed:
    name: "Bubble Speed"
    max_value: 3
